<div class="row">
    <div class="col-12 p-5">
<p class="h2">Contact</p>
<p class="lead">
    Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consevtetur. Fusce dapibus, tellus as cursus commodo.
  </p>
</div>
</div>

<div class="row">
<form class="col-5 offset-md-4 bg-light" >

    <div class="mb-5">
      <label for="exampleInputEmail1" class="form-label">Your E-mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your E-mail">
      <label for="message-text" class="col-form-label">Message:</label>
      <textarea class="form-control" id="message-text" placeholder="Please enter your message here.."></textarea>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end"><br>
        <button class="btn btn-primary me-md-2 mt-2" type="button">Submit</button>
</form>
</div>