<p class="h2">Porfolio</p>
<p class="lead">
    Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consevtetur. Fusce dapibus, tellus as cursus commodo.
  </p>

  <div class="card-group">
    <div class="card m-1">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urma varius vitae.</p>
       
      </div>
    </div>
    <div class="card m-1">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urma varius vitae.</p>
       
      </div>
    </div>
    <div class="card m-1">
      <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urma varius vitae.</p>
       
      </div>
    </div>
  </div>