<div class="row">
    <div class="col-md-3 p-5">
        <img class="img-fluid rounded-circle" src="assets/img/2.jpg">
    </div>
    <div class="col-md-7 offset-md-1 p-5">
        <h2> <span class="text-dark">This First Heading</span><span class="text-secondary"> Is Pretty Cool Too.</span> </h2>
        <p>Donec ullamcorper nulla non metus autor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consevtetur. Fusce dapibus, tellus as cursus commodo.</p>

    </div>
</div>